.idea
*.pyc
*.log
scrapyd-deploy
setup.py
build/lib/OkiStockSpider/__init__.py
build/lib/OkiStockSpider/items.py
build/lib/OkiStockSpider/middlewares.py
build/lib/OkiStockSpider/pipelines.py
build/lib/OkiStockSpider/settings.py
build/lib/OkiStockSpider/spiders/__init__.py
build/lib/OkiStockSpider/spiders/base.py
build/lib/OkiStockSpider/spiders/futu.py
build/lib/OkiStockSpider/spiders/futu_noproxy.py
build/lib/OkiStockSpider/spiders/test.py
build/lib/OkiStockSpider/util/__init__.py
build/lib/OkiStockSpider/util/proxy_provider.py
dbs/default.db
dbs/OkiStockSpider.db
eggs/OkiStockSpider/1532829394.egg
project.egg-info/dependency_links.txt
project.egg-info/entry_points.txt
project.egg-info/PKG-INFO
project.egg-info/SOURCES.txt
project.egg-info/top_level.txt
